<ion-app>
  <ion-menu #menu side="start" menuId="menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>ToDo</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full" (click)='menu.close()'>
        <ion-item [routerLink]="['home']">Tasks</ion-item>
        <ion-item [routerLink]="['labels']">Labels</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
