<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{pageName}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button default-href="/">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="handleCreateAndUpdate()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="full">
    <ion-label position="floating">Task name</ion-label>
    <ion-input type="text" class="ion-margin-top"
               [(ngModel)]="taskName">

    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea cols="20" rows="4" [autoGrow]="true"
                  [(ngModel)]="description">
    </ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Deadline</ion-label>
  </ion-item>

  <ion-item class="ion-align-items-center" >
    <ion-datetime firstDayOfWeek="1" [yearValues]="yearValues" presentation="date"
                  [(ngModel)]="deadline">
    </ion-datetime>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Labels</ion-label>
  </ion-item>

  <ion-item lines="none" *ngFor="let l of labels; let i = index">
    <ion-checkbox slot="start" [color]="l.color" [(ngModel)]="selectedLabels[i]"></ion-checkbox>
    <ion-label [color]="l.color">{{l.name}}</ion-label>
  </ion-item>

</ion-content>
