<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To-do
    </ion-title>
    <ion-select class="ion-padding-horizontal" interface="popover"
                slot="end" [value]="selectedFilter" (ionChange)='changeFilter($event)'>
      <ion-select-option *ngFor="let type of filters" [value]="type">
        {{type}}
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]='true' (ionScrollStart)="scrollStarted()" (ionScrollEnd)="scrollEnded()">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To-do</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-list lines="full">
      <ion-item-sliding *ngFor="let task of getFilteredTask()">
        <ion-item-options side="start">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name='trash' (click)="deleteTask(task.id)"></ion-icon>
          </ion-item-option>
        </ion-item-options>

          <ion-item>
          <ion-label>
            {{task.name}}
          </ion-label>
          <ion-icon *ngIf='task.done' name='checkmark-circle' color="success"
                    (click)="toggleTaskStatus(task.id)"></ion-icon>
          <ion-icon *ngIf='!task.done' name='checkmark'
                    (click)="toggleTaskStatus(task.id)"></ion-icon>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

  <ion-fab *ngIf="fabIsVisible" [vertical]="verticalFabPosition" horizontal='end' slot='fixed'>
    <ion-fab-button (click)="presentAlert()" show="false">
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
